<ion-view view-title="Accepted/Rejected Items">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Goodwill accepts the following items in good, working condition:</div>
      <div class="item item-body">
        <div>
          Appliances/Stereos                   
        </div>
        <div>
          Cars/Trucks/RVs/Boats/Motorcycles
        </div>
        <div>
          Dictionaries/Text Books/Encyclopedias
        </div>
        <div>
          Clothing
        </div>
        <div>
          Furniture
        </div>
        <div>
          Houshold Items
        </div>
        <div>
          Furnishings
        </div>
        <div>
          Computers and all Peripherals
        </div>
        <div>
          Records/CDs/Tapes/DVDs/Video Games
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Goodwill cannot accept the following items:</div>
      <div class="item item-body">
        <div>
          Televisions
        </div>
        <div>
          Mattresses/Box Springs
        </div>
        <div>
          Firearms/Fireworks/Ammunition
        </div>
        <div>
          Paint and Flammable Materials
        </div>
        <div>
          Dangerous Materials
        </div>
        <div>
          Items recalled by the Consumer Product Safety Commission
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
