<ion-view title="Store Locator">
  <ion-content class="padding">
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
	</label>
	<div class="list card">
      <div class="item item-divider">Goodwill of Delaware and Delaware County</div>
      <div class="item item-body">
        <div>
          Long-standing nonprofit chain with a range of pre-owned clothing, furniture, housewares and more.
        </div>
        <div>
        <button class="button icon-left ion-ios-location button-clear button-positive">Newark Shopping Center, 311 Newark Shopping Ctr, Newark, DE 19711
  		</button>  
  		</div>
  		<div>
        <button class="button icon-left ion-ios-location button-clear button-positive">goodilde.org
  		</button> 
  		</div>
  		<div>		
  		<button class="button icon-left ion-ios-location button-clear button-positive">(302) 453-1430
  		</button>  	
  		</div>
  		<div>
  		<button class="button icon-left ion-ios-location button-clear button-positive">Saturday 9:00 AM - 6:00 PM
  		</button>  
  		</div> 		
      </div>
    </div>
  </ion-content>
</ion-view>
