<ion-view view-title="General">
  <ion-content class="padding">
      <ion-nav-buttons side="primary">
      <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item">
        I'm a button on the primary of the navbar!
      </button>
    </ion-nav-buttons>
    
    <div class="list card">
      <div class="item item-calm item-divider">Current Needs</div>
      <div class="item item-body">
        <div>
          Men and Women's <b>jackets</b> are worth 20% more points!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-calm item-divider">Current Events</div>
      <div class="item item-body">
        <div>
          <b>Double</b> points weekend has begun!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-calm item-divider">Latest News</div>
      <div class="item item-body">
        <div>
          Your Goodwill store has recieved over <b>50</b> donations so far today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-calm item-divider">Leaderboards</div>
      <div class="item item-body">
        <div>
          1. <b>Steve Miller</b> - 237 pts
        </div>
        <div>
          2. <b>Karen Smith</b> - 198 pts
        </div>
        <div>
          3. <b>George Phillips</b> - 193 pts
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
