<ion-view view-title="Donate">
    <ion-content class="padding">
      <div class="item row">
      <div class="col col-50">
        <label class="item-input item-select">
          <div class="input-label">
            Women's Clothing
          </div>
          <select>
            <option>Blouse - $4</option>
            <option>Sweater - $4</option>
            <option>Slacks - $4</option>
            <option>Dress - $6</option>
            <option>Suits - $10</option>
            <option>Coat - $8</option>
            <option>Handbag - $4</option>
            <option>Shoes - $5</option>
          </select>
        </label>
      </div>
      <div class="col col-25">
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Quantity">
          </label>
          <button class="button button-small" ng-click="addwomens()">
            Add
          </button>
        </div>
      </div>
    </div>
    <div class="item row">
      <div class="col col-50">
        <label class="item-input item-select">
          <div class="input-label">
            Men's Clothing
          </div>
          <select>
            <option>Shirt - $4</option>
            <option>Sweater - $4</option>
            <option>Slacks - $4</option>
            <option>Suit - $15</option>
            <option>Shoes - $5</option>
            <option>Coat - $8</option>
            <option>Wallet - $1</option>
          </select>
        </label>
      </div>
      <div class="col col-25">
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Quantity">
          </label>
          <button class="button button-small" ng-click="addmens()">
            Add
          </button>
        </div>
      </div>
    </div>
    <div class="item row">
      <div class="col col-50">
        <label class="item-input item-select">
          <div class="input-label">
            Children's Clothing
          </div>
          <select>
            <option>Shirt - $2</option>
            <option>Sweater - $2</option>
            <option>Pants, Jeans - $2</option>
            <option>Dress - $3</option>
            <option>Shoes - $3</option>
            <option>Snowsuit - $2</option>
          </select>
        </label>
      </div>
      <div class="col col-25">
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Quantity">
          </label>
          <button class="button button-small" ng-click="addchilds()">
            Add
          </button>
        </div>
      </div>
    </div>
    <div class="item row">
      <div class="col col-50">
        <label class="item-input item-select">
          <div class="input-label">
            Appliances
          </div>
          <select>
            <option>Microwave - $5</option>
            <option>Iron - $3</option>
            <option>Vacuum - $5</option>
            <option>Coffee Maker - $3</option>
          </select>
        </label>
      </div>
      <div class="col col-25">
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Quantity">
          </label>
          <button class="button button-small" ng-click="addapp()">
            Add
          </button>
        </div>
      </div>
    </div>
    <div class="item row">
      <div class="col col-50">
        <label class="item-input item-select">
          <div class="input-label">
            Domestics
          </div>
          <select>
            <option>Pillow - $2</option>
            <option>Sheet - $2</option>
            <option>Blanket - $3</option>
            <option>Curtains - $3</option>
            <option>Drapes - $5</option>
            <option>Area Rug - $5</option>
            <option>Books - $1</option>
            <option>Dishes - $3</option>
            <option>Pots/pans - $2</option>
          </select>
        </label>
      </div>
      <div class="col col-25">
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Quantity">
          </label>
          <button class="button button-small" ng-click="adddom()">
            Add
          </button>
        </div>
      </div>
    </div>
    <div class="item row">
      <div class="col col-50">
        <label class="item-input item-select">
          <div class="input-label">
            Furniture
          </div>
          <select>
            <option>Sofa - $30</option>
            <option>Love seat - $20</option>
            <option>Chair - $10</option>
            <option>Lamp - $5</option>
            <option>Kitchen Set - $40</option>
            <option>End Tables - $4</option>
            <option>Wardrobe - $15</option>
            <option>Coffee Table - $10</option>
            <option>Chest - $5</option>
            <option>Dresser - $15</option>
          </select>
        </label>
      </div>
      <div class="col col-25">
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Quantity">
          </label>
          <button class="button button-small" ng-click="addfurn()">
            Add
          </button>
        </div>
      </div>
    </div>
    <div class="item row">
      <div class="col col-50">
        <label class="item-input item-select">
          <div class="input-label">
            Eletronics/Computers
          </div>
          <select>
            <option>Computer - $50</option>
            <option>Printer - $10</option>
            <option>Scanner - $5</option>
            <option>Radio - $4</option>
            <option>Television - $15</option>
          </select>
        </label>
      </div>
      <div class="col col-25">
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Quantity">
          </label>
          <button class="button button-small" ng-click="addfurn()">
            Add
          </button>
        </div>
      </div>
    </div>
    <button class="button button-block button-calm" ng-click="items()">What Can I Donate?</button>
  </ion-content>
</ion-view>
